<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chananpark.Tagoga_Siheung">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grad_project">
        <activity
            android:name="com.chananpark.Tagoga_Siheung.Intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.chananpark.Tagoga_Siheung.MainActivity">
        </activity>
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="c02o8ej4vv" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_SECRET_ID"
            android:value="awHlsFYKM3J1QHz2nTtkOCvysI6rBYHgIjnNXGrT" />
    </application>

</manifest>